body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.registration-page {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30vw;
    text-align: center;
}

.common-fields {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 1rem;
}

.user-type-button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #b18aff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-type-button:hover {
    background-color: #7f43af;
}

.teacher-fields {
    display: flex;
    flex-direction: column;
}


.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


label {
    text-align: left;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 28vw;
}

.submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}